<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Управление кредитами </title>

</head>
<body>
<div>
    <hr>
    <h1> Обновить кредит</h1>
    <form action="#" th:action="@{/credits/save_credit}" th:object="${credit}" method="POST">

        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{bank}" />
        <input type="text" th:field="*{limitOfMoney}" placeholder=" Лимит по кредиту ">
        <input type="number" step="0.01" min="0" th:field="*{creditPercentage}" placeholder=" Процентная ставка ">
        <input type="text" th:field="*{typeOfCredit}" placeholder=" Название крелита">
        <button type="submit"> Обновить кредит </button>
    </form>
    <hr>
    <a th:href = "@{/credits/credits_list/{id}(id=${credit.bank.id})}"> Список кредитов </a>
    <br>
    <br>
    <a th:href="@{/}"> Дом </a>
</div>
</body>
</html>