<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Management System</title>
</head>
<body>
<div>
    <h1>Credit Management System</h1>
    <hr>
    <h2>Credit create</h2>
    <form action="#" th:action="@{/credits/save_credit}" th:object="${credit}" method="POST">
        <input type="hidden" th:field="*{bank}" />
        <input type="text" th:field="*{limitOfMoney}" placeholder="Limit Of Money">
        <input type="number" step="0.01" min="0" th:field="*{creditPercentage}" placeholder="Credit Percentage Per Year">
        <input type="text" th:field="*{typeOfCredit}" placeholder="Type Of Credit">
        <button type="submit"> Create Credit</button>
    </form>
    <hr>
    <a th:href = "@{/credits/credits_list/{id}(id=${credit.bank.id})}">Back to Credit List</a>
    <br>
    <br>
    <a th:href="@{/}">Start Page</a>
</div>
</body>
</html>