<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление кредитами</title>
</head>
<body>
<div>
    <hr>
    <h1>Создание кредина</h1>
    <form action="#" th:action="@{/credits/save_credit}" th:object="${credit}" method="POST">
        <input type="hidden" th:field="*{bank}" />
        <input type="number" th:field="*{limitOfMoney}" placeholder=" Лимит по кредиту ">
        <input type="number"  th:field="*{creditPercentage}" placeholder=" Процентная ставка ">
        <input type="text" th:field="*{typeOfCredit}" placeholder=" Название кредита ">
        <button type="submit"> Создать кредит</button>
    </form>
    <hr>
    <a th:href = "@{/credits/credits_list/{id}(id=${credit.bank.id})}"> Список кредитов </a>
    <br>
    <br>
    <a th:href="@{/}">Дом</a>
</div>
</body>
</html>