<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offers Management System</title>
</head>
<body>
<div>
    <h1>Credit Offers List</h1>
    <a th:if="${!listCreditOffers.isEmpty()}" th:href = "@{/clients/clients_list/{id}(id=${listCreditOffers.get(0).bank.id})}"> Back To Client List</a>
    <table border="3">
        <thead>
        <tr>
            <th>Name Of Credit</th>
            <th>Sum</th>
            <th>Credit Term</th>
            <th>Sum Of Percent</th>
            <th>Bank</th>
            <th>Credit</th>
            <th>Client</th>
            <th>Take Date Of Credit</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="creditOffer : ${listCreditOffers}">
            <td th:text="${creditOffer.nameOfCredit}"></td>
            <td th:text="${creditOffer.sum}"></td>
            <td th:text="${creditOffer.creditTerm}"></td>
            <td th:text="${creditOffer.sumOfPercent}"></td>
            <td th:text="${creditOffer.bank}"></td>
            <td th:text="${creditOffer.credit}"></td>
            <td th:text="${creditOffer.client}"></td>
            <td th:text="${creditOffer.takeDateOfCredit}"></td>
            <td>    <a th:href="@{/payment_schedules/payment_schedules_list/{id}(id=${creditOffer.id})}" >Show</a>
                <a th:href="@{/credit_offers/show_form_for_update/{id}(id=${creditOffer.id})}" >Update</a>
                <a th:href="@{/credit_offers/delete_credit_offer/{id}(id=${creditOffer.id})}" >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Start Page</a>
</div>
</body>
</html>