<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credit Offer Management System</title>
</head>
<body>
<div>
    <h1>Credit Offer Management System</h1>
    <hr>
    <h2>Update Payment Schedule</h2>
    <form action="#" th:action="@{/payment_schedules/save_payment_schedule}" th:object="${paymentSchedule}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{offerOfCredit}" />
        <input type="hidden" th:field="*{remains}" />
        <input type="text" th:field="*{dateOfPayment}" placeholder="Date Of Payment">
        <input type="number" th:field="*{amountOfPayment}" placeholder="Amount Of Payment">
        <input type="number" th:field="*{amountOfPaymentPerBody}" placeholder="Amount Of Payment Per Body">
        <input type="number" th:field="*{amountOfRepaymentPercent}" placeholder="Amount Of Repayment Percent">
        <button type="submit" > Update Schedule Of Payment</button>
    </form>
    <hr>
    <br>
    <br>
    <a th:href="@{/}">Start Page</a>
</div>
</body>
</html>
