<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Storage</title>

</head>
<body>
<div>
    <h1>Client Storage</h1>
    <hr>
    <h2>Update Client</h2>
    <form action="#" th:action="@{/clients/save_client/}" th:object="${client}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{bank}" />
        <input type="text" th:field="*{firstName}" placeholder="FirstName">
        <input type="text" th:field="*{middleName}" placeholder="Middle Name">
        <input type="text" th:field="*{lastName}" placeholder="Last Name">
        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number">
        <input type="text" th:field="*{email}" placeholder="Email">
        <input type="text" th:field="*{passportNumber}" placeholder="Passport Number">
        <button type="submit" >Update Client</button>
    </form>
    <hr>
    <a th:href = "@{/clients/clients_list/{id}(id=${client.bank.id})}">Back to Client List</a>
    <br>
    <br>
    <a th:href="@{/}">Start Page</a>
</div>
</body>
</html>