<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div th:switch="${clients}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Clients</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Passport number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:text="${client.phoneNumber}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.passportNumber}"></td>
                <td><a th:href="@{client-update/{id}(id=${client.id})}">Edit</a></td>
                <td><a th:href="@{client-delete/{id}(id=${client.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/client-create">Create client</a></p>
</div>
</body>
</html>