<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create client</title>
</head>
<body>
<div>
    <hr>
    <h1>Client create</h1>
<form action="#" th:action="@{/clients/save_client}" th:object="${client}" method="post">
    <input type="hidden" th:field="*{bank}" />
    <input type="text" th:field="*{firstName}" placeholder="First Name">
    <input type="text" th:field="*{middleName}" placeholder="Middle Name">
    <input type="text" th:field="*{lastName}" placeholder="Last Name">
    <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number">
    <input type="text" th:field="*{email}" placeholder="Email">
    <input type="text" th:field="*{passportNumber}" placeholder="Passport Number">
    <button type="submit"> Client create</button>
</form>
<hr>
</div>
</body>
</html>