<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div th:switch="${listClients}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Clients</h2>
        <p><a href="/clients/show_new_client_form/{bankId}">Create client</a></p>
        <table border="3">
            <thead>
            <tr>
                <th>First name</th>
                <th>Middle name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Passport number</th>
                <th>To do action </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${listClients}">
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.middleName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:text="${client.phoneNumber}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.passportNumber}"></td>
                <td> <a th:href="@{/credit_offers/show_new_credit_offer_form/{id}(id=${client.getId()})}">OfferOfCredit</a>
                    <a th:href="@{/clients/show_form_for_update/{id}(id=${client.getId()})}">Update</a>
                    <a th:href="@{/clients/delete_client/{id}(id=${client.getId()})}">Delete</a>
                </td>
            </tr>
            <hr>
            <a th:if="${!listClients.isEmpty()}" th:href = "@{/show_bank/{id}(id=${listClients.get(0).bank.id})}">Go Back To The Bank Menu</a>

            </tbody>
        </table>
    </div>
    <a th:href="@{/}">Home</a>
</div>
</body>
</html>