<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать базу клиентов</title>
</head>
<body>
<div>
    <hr>
    <h1>Добавить клиента</h1>
    <form action="#" th:action="@{/clients/save_client}" th:object="${client}" method="post">
        <input type="hidden" th:field="*{bank}" />
        <input type="text" th:field="*{lastName}" placeholder=" Фамилия ">
        <input type="text" th:field="*{middleName}" placeholder=" Имя ">
        <input type="text" th:field="*{firstName}" placeholder=" Отчество ">
        <input type="text" th:field="*{phoneNumber}" placeholder=" Номер телефона ">
        <input type="text" th:field="*{email}" placeholder=" Электронная почта ">
        <input type="text" th:field="*{passportNumber}" placeholder=" Номер пасспорта ">
        <button type="submit"> Client create</button>
    </form>
    <hr>
    <a th:href = "@{/clients/clients_list/{id}(id=${client.bank.id})}">Кленты</a>
    <br>
    <br>
    <a th:href="@{/}">Домой</a>
</div>
</body>
</html>